.post {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(24, 26, 32, 0.07);
  transition: transform 0.2s ease-in-out;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.post-date {
  background: #fff;
  box-shadow: 0 6px 15px rgba(64, 79, 104, 0.05);
  border-radius: 4px;
  padding: 0.4rem 1.5rem;
  font-size: 0.875rem;
  position: absolute;

  .day {
    font-size: 1.25rem;
    font-weight: 600;
  }
}

.post-content {
  position: relative;
}

.post-thumbnail {
  width: 100%;
}

.list-post {
  border-radius: 6px;

  .post-thumbnail {
    max-width: 280px;
    position: relative;
  }

  .post-date {
    left: 10px;
    bottom: 10px;
  }

  .post-content {
    padding-left: 1rem;
  }
}

.grid-post,
.hero-post {
  border-radius: 4px;

  .post-date {
    right: 10px;
    top: -30px;
  }

  .post-content {
    padding: 1rem;
    padding-top: 20px;
    width: 100%;
  }
}

.grid-post {
  .post-thumbnail img {
    height: 260px; /* Ensure images have the same height */
  }
}

.post-category {
  font-size: 0.875rem;
  color: $gray-600;
}

.post-title {
  color: $primary;
  font-size: 1.1rem;
  margin: 8px 0;
  line-height: 1.4;
}

.post-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 0.95rem;
  line-height: 1.8;
  height: 5.4em; /* Ensure it doesn't exceed 3 lines */
  color: $gray-700;
  margin-bottom: 2rem;
}

.blog-widget {
  background-color: #ffffff;
  padding: 2rem;
  margin-bottom: 2rem;
  border: 1px solid #e0e0e0;
  border-radius: 0.25rem;
}

.single-post {
  .post-title {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 0.75rem;
    color: $secondary-700;
  }

  h3 {
    font-size: 1.4rem;
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
  }

  .single-post-title {
    margin-bottom: 1.5rem;
    color: $primary-500;
    font-size: 2.5rem;
  }
  a {
    color: $orange;
  }
}
