.property-holder,
.portfolio-holder {
  padding: 1.2rem;
  margin-bottom: 2rem;
  position: relative;
  z-index: 0;
  transition: all 5s ease-in;

  &__big-title {
    font-size: 2rem;
    font-weight: 600;
  }

  &__img {
    @include media-breakpoint-up(md) {
      height: 10rem;
    }
    object-fit: cover;
    border-radius: 3px;
  }

  &__location,
  &__house-type {
    font-size: 0.85rem;

    strong {
      font-weight: 500;
      color: $secondary-900;
    }
  }

  .badge-secondary {
    background: #f1f4ff;
    color: $secondary;
    margin: 0 5px 2px 0;
  }

  &__separator {
    border-top: 1px solid rgba(2, 3, 6, 0.1);
    margin: 0.5rem 0;
  }

  .small-icon {
    display: inline-block;
    svg {
      height: 14px;
    }
  }

  &.bg-gray {
    background: #fafbff;
    border: 2px solid #e8ecf6;
  }

  &__icon svg {
    height: 1rem;
    width: 1rem;
    margin-top: -5px;
  }

  &__payment-status {
    font-size: 0.75rem;
    color: $red;
  }

  .badge svg {
    height: 0.8rem;
    width: 0.8rem;
  }
}

.portfolio-holder {
  padding: 0 !important;

  &__img {
    @include media-breakpoint-up(md) {
      height: 14rem;
    }
    border-radius: 0 !important;
  }
  &__content {
    padding: 1.2rem;
  }
}

.icon-box {
  span {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    background: $purple;
    border-radius: 5px;
    text-align: center;
    color: white;

    &.blue {
      background: #02a0fc;
    }

    &.orange {
      background: #ffc212;
    }

    &.purple {
      background: #6f52ed;
    }

    &.green {
      background: $green;
    }

    &.pink {
      background: #fd749b;
    }

    &.gray {
      background: $gray-600;
    }
  }

  svg {
    height: 1rem;
  }
}

.neighborhood-check {
  font-weight: bold;
  font-size: 1rem;
  span {
    margin: 1rem 0.5rem 1rem 0;
  }
}
.property-img {
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.gallery-main-image {
  height: 15rem;
  @include media-breakpoint-up(md) {
    height: 20rem;
  }
  @include media-breakpoint-up(lg) {
    height: 21.6rem;
  }
  @include media-breakpoint-up(xl) {
    height: 37rem;
  }
}
.gallery-thumbnails {
  height: 4rem;

  @include media-breakpoint-up(lg) {
    margin-bottom: 0.5rem;
    height: 5rem;
  }
  @include media-breakpoint-up(xl) {
    height: 8.87rem;
  }
}

.circle-icon {
  width: 2rem;
  height: 2rem;
  text-align: center;
  border-radius: 50%;
  background: $purple;
  color: white;
  position: absolute;
  top: 2rem;
  right: 1rem;

  svg {
    height: 1rem;
  }
}

.badge-success,
.btn-success {
  &.invert-success {
    border-color: darken(#e8ffed, 10);
    background: #e8ffed;
    color: $green;
  }
}

.invert-danger {
  border: 1px solid $danger;
  color: $danger;
  background: transparent;
}

.svg-1 {
  svg {
    height: 1rem;
  }
}

.favorites-icon {
  cursor: pointer !important;
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 1;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  svg {
    height: 1.5rem;
    width: 1.5rem;
    fill: rgba($primary, 0.1);
    transition: all 0.3s ease-out;

    &:hover {
      stroke: $danger;
      fill: rgba(white, 0.3);
    }
  }

  &__is-favorite {
    opacity: 0.7;
    svg {
      fill: $danger;
      stroke: $danger;
    }
    &:hover {
      svg {
        fill: $danger;
        stroke: $danger;
        height: 1.5rem;
        width: 1.5rem;
      }
    }
  }
}

.card-link {
  transition: all 0.3s ease-out;
  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

.property-card,
.content-card {
  padding: 0;
  margin-bottom: 2rem;
  // overflow-x: hidden;

  .content-image {
    // hover trick
    position: relative;
    display: block;
    font-size: 0;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      content: '';
      background: rgba(40, 47, 68, 0.4);
      transform: scaleX(0);
      transition: all 0.4s ease;
    }
    img {
      height: 20rem;
      width: 100%;
      border-radius: 0;
      object-fit: cover;

      &.small {
        height: 15rem;
      }
    }
  }

  &:hover .content-image:before {
    transform: scaleX(1);
  }

  &:hover {
    .type {
      background-color: rgba($black, 0.8);
    }
  }

  .property-spacing {
    margin-top: 0.75rem;
  }

  .property-item {
    padding: 1rem 1.5rem 1.5rem;
  }

  .property-name {
    color: $primary-500;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5rem;
  }
  .property-info {
    font-size: 0.8rem;
    color: $gray-500;
  }

  .property-price {
    color: $secondary;
    font-size: 1.25rem;
    font-weight: bold;
  }
}

.property-info-details {
  color: $primary-200;
  font-size: 1rem;
}

.property-details {
  svg {
    display: inline-block;
    margin-bottom: 4px;
    margin-right: 4px;
  }
}

.warning-alert {
  background: $warning-50;
  border: 1px solid $warning-200;
  font-size: 0.9rem;
  border-radius: 4px;
  padding: 1rem 1.25rem;
  line-height: 1.5;
  &,
  & h5 {
    color: $warning-800;
  }
  li {
    margin-bottom: 0.5rem;
  }
}

.title-holder {
  border: 1px solid $primary-100;
  border-left: 5px solid $primary-600;
  padding: 0.5rem 1rem;
  background: $primary-50;
  border-radius: 4px;
  margin-top: 1rem;
  display: inline-block;
}

.list-neighbourhood {
  margin-bottom: 1rem;
  border-bottom: 1px dotted $gray-400;
}

.property__floor-plans {
  .accordion {
    .card {
      margin-bottom: 0.5rem;
      border: 1px solid $gray-300 !important;
      border-radius: 3px;
    }

    .card-header {
      padding: 1.2rem;
      background-color: #fafafb;

      h5 {
        font-size: 1rem;
        font-weight: 500;
        color: $primary;
      }
    }
  }
}

.property-avatar img {
  width: 4.5rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 3px;
}

.vendor-img {
  height: 3rem;
}

.milestone-content,
.card-updates {
  border-radius: 6px;
  margin-bottom: 1.5rem;
  padding: 2.5rem;

  .top-icon {
    position: relative;

    span {
      position: absolute;
      right: -1.5rem;
      top: -1.5rem;
    }
  }

  &.default,
  &.bg-light {
    border: 1px solid $gray-300;
    background: #fffffc !important;
  }

  &.pending,
  &.bg-gray,
  &.bg-dark {
    border: 1px solid $gray-300;
    background: $gray-50 !important;
    // background: $gray-200 !important;
  }

  &.in-progress,
  &.bg-primary {
    background: lighten($secondary-50, 2) !important;
    border: 1px solid $secondary-100;
  }

  &.completed,
  &.bg-success {
    background: lighten($success-50, 3) !important;
    border: 1px solid $success-100;
  }

  &.uncompleted,
  &.bg-danger {
    background: lighten($danger-50, 3) !important;
    border: 1px solid $danger-100;
  }
}

.featured-ribbon {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  overflow: hidden;
  width: 5rem;
  height: 5rem;

  span {
    position: absolute;
    top: 20px;
    left: -21px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 16px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: $secondary;
    letter-spacing: 0.8px;
  }
}

.image-top {
  position: absolute;
  bottom: 1rem;
  left: 1rem;

  .type,
  .status {
    padding: 4px 8px;
    margin-left: 5px;
    font-size: 11px;
    display: inline-block;
    border-radius: 3px;
    color: #fff;
    transition: 0.3s;
    line-height: 15px;
  }

  .type {
    background-color: rgba($white, 0.15);
    backdrop-filter: blur(5px);
  }

  .status {
    background: #2ecc71;
  }
}

.property__meta {
  display: flex;
  justify-content: space-between;

  @include media-breakpoint-up(xl) {
    justify-content: normal;
  }

  border-bottom: 1px dotted $gray-300;

  figure {
    @include media-breakpoint-up(xl) {
      padding-right: 3rem;
    }
  }
  figcaption {
    font-size: 0.75rem;
    color: $gray-500;
    margin-right: 1rem;
  }

  p {
    margin-bottom: 0;
    // font-size: 0.9rem;
    font-size: 0.75rem;
    font-weight: 500;
    color: $gray-700;
  }
}
